html
  head
    title Login page
    style
      include ../style/style.css
  body
    h1 Login Page
    form(method="POST", action="/api/user/login")
        label(for = "username") Username:
        input(type = "text", name = "username")
        br
        label(for = "password") Password:
        input(type = "password", name = "password")
        br
        input(type = "submit", name = "submit", value = "submit")
        
    hr 

    p Want to Register?
    a(href="/register")
      input(type="button", value="Register page")